<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecciones de Fútbol</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
        }
        .container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 20px;
        }
        .team {
            margin: 20px;
        }
        .team img {
            width: 150px;
            height: 150px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Selecciones de Fútbol</h1>
    <div class="container">
        <div class="team">
            <a href="https://www.fifa.com/es/associations/association/arg/" target="_blank">
                <img src="/static/img/peru.png" alt="-">
            </a>
            <p>Peru</p>
        </div>
        <div class="team">
            <a href="https://www.fifa.com/es/associations/association/bra/" target="_blank">
                <img src="/static/img/uruguay.png" alt="Uruguay">
            </a>
            <p>Uruguay</p>
        </div>
        <div class="team">
            <a href="https://www.fifa.com/es/associations/association/eng/" target="_blank">
                <img src="/static/img/argentina.png" alt="Argentina">
            </a>
            <p>Argentina</p>
        </div>
        <div class="team">
            <a href="https://www.fifa.com/es/associations/association/fra/" target="_blank">
                <img src="/static/img/brasil.png" alt="Brasil">
            </a>
            <p>Brasil</p>
        </div>
        <div class="team">
            <a href="https://www.fifa.com/es/associations/association/ger/" target="_blank">
                <img src="/static/img/chile.png" alt="-">
            </a>
            <p>Chile</p>
        </div>
    </div>
</body>
</html>
